<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/reset.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue.js - PokeAPI</title>
</head>

<body>
    <div id="app">
        <span class="assinature">By: Daineze!</span>

        <nav class="sidebar">
            <ul>
                <a href="#" @click.prevent="selectContinent(1)"><li>I</li></a>
                <a href="#" @click.prevent="selectContinent(2)"><li>II</li></a>
                <a href="#" @click.prevent="selectContinent(3)"><li>III</li></a>
                <a href="#" @click.prevent="selectContinent(4)"><li>IV</li></a>
                <a href="#" @click.prevent="selectContinent(5)"><li>V</li></a>
                <a href="#" @click.prevent="selectContinent(6)"><li>VI</li></a>
                <a href="#" @click.prevent="selectContinent(7)"><li>VII</li></a>
                <!--<a @click.prevent=""><li>VIII</li></a>-->
            </ul>
        </nav>

        <main class="main">

            <header>
                <p class="title">Select a gen on the left menu!</p>
                <div class="keyword-wrapper">
                    <input type="text" v-model="keyword" placeholder="Search a poke.." />
                </div>
            </header>

            <aside class="wrapper">
                <!-- CARD -->
                <div class="poke-card" v-for="pokemon in keyword?filteredPokemons:sortPokemons()" :key="pokemon.name"
                    @click="getInfo(pokemon)">
                    <div class="content">
                        <div class="poke-img">
                            <img :src="pokemon.sprites.front_default" class="poke-img">
                            <!--<img :src=`https://pokeres.bastionbot.org/images/pokemon/${pokemon.id}.png`>-->
                        </div>
                        <div class="right-box">
                            <p class="poke-name"><span class="order">{{pokemon.id}}</span>{{pokemon.name}}</p>
                            <p class="poke-data">weight: {{pokemon.weight/10}}kg<br>height: {{pokemon.height/10}}m</p>
                            <p class="poke-types"> <span v-for="type in pokemon.types" :key="type.type.name"
                                    :class="'type ' + type.type.name">{{type.type.name}}</span></p>
                        </div>
                    </div>
                </div>
                <!-- (finish) CARD -->
            </aside>

            <aside class="poke-info" v-if="info">
                <div class="info-wrapper">
                    <div class="info-box">
                        <div class="btn"></div>
                        <div class="info-data">
                            <p class="info-name"><span>{{infos.name}}</span><span>#{{setNumber(infos.id)}}</span></p>
                            <p class="habitat"><span>Habitat:</span> {{specie.habitat.name}}</p>
                            <p class="description">{{description}}</p>
                            <ul class="stats-list">
                                <li v-for="stats in infos.stats">
                                    <label><span>{{stats.stat.name}}</span><span>{{stats.base_stat}}</span></label>
                                    <meter :min="(maxstatus/10)*3" :low="(maxstatus/10)*6" :high="(maxstatus/10)*8"
                                        :optimum="(maxstatus/10)*9" :max="maxstatus" :value="stats.base_stat">
                                        {{stats.base_stat}}/255
                                    </meter>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info-img">
                        <div class=close @click="info=false">&times;</div>
                        <div class="info-img-box"><img :src=`https://pokeres.bastionbot.org/images/pokemon/${infos.id}.png`></div> 
                        <p class="poke-types">
                            <span v-for="type in infos.types" :key="type.type.name" :class="'type ' + type.type.name">{{type.type.name}}</span>
                            <span class="type normal">{{infos.weight/10}}kg</span>
                            <span class="type normal">{{infos.height/10}}m</span>
                        </p>
                    </div>
                </div>
            </aside>

            <aside class="loading" v-if="loading">
                <img class="rotating" src="https://img.icons8.com/color/96/000000/pokeball--v1.png" />
                <span>Loading Gen!</span>
                <meter :min="0" :low="25" :high="50" :optimum="75" :max="90" :value="load_percent">
                </meter>
                <span>{{load_percent}}%</span>
            </aside>

        </main>
    </div>
    
    <script src="./assets/js/vue.min.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script src="./assets/js/script.js"></script>
</body>

</html>